<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb">
          <li>
            <a routerLink="../">Requerimiento de Servicio</a>
          </li>
          <li>Crear Requerimiento de Servicio</li>
        </ol>
        <h1>Creacion de Requerimiento de Servicio </h1>
      </div>
      <div class="col-md-4">
        <div class="col-lg-12">
          <fieldset>
            <legend>
              <h3>Codigo Requerimiento de Servicio</h3>
            </legend>
          </fieldset>
          <dl class="dl-horizontal left">
            <span *ngIf="Codigo" class="sacpi-req">{{Codigo}}</span>
            <span *ngIf="!Codigo" class="sacpi-req">
              <em>No Registrado</em>
            </span>
          </dl>
        </div>
      </div>
    </div>

    <sacpi-loading [loading]="loading">
      <form [formGroup]="form" (ngSubmit)="confirmar(form)">
        <sacpi-form-fields-status [sacpiForm]="form"></sacpi-form-fields-status>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" [sacpiFormFieldValidationState]="form.get('IdTypeRequirement')">
              <label class="control-label" [sacpiFormRequiredLabel]="form.get('IdTypeRequirement')">Tipo Orden de Servicio
                <i class="fa fa-question-circle text-muted" tooltip="Fecha atencion del requiremiento"
                  placement="top"></i>
              </label>
              <ng-select formControlName="IdTypeRequirement" class="ng-select-sacpi" [items]="requirementType"
                bindLabel="Descryption" bindValue="IdContenedor" placeholder="Seleccione expediente"></ng-select>
              <sacpi-form-field-validation-messages [sacpiFormControl]="form.get('IdTypeRequirement')">
              </sacpi-form-field-validation-messages>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" [sacpiFormFieldValidationState]="form.get('IdExpedient')">
              <label class="control-label" [sacpiFormRequiredLabel]="form.get('IdExpedient')">Centro de Costo
                <i class="fa fa-question-circle text-muted" tooltip="Centro de costo" placement="top"></i>
              </label>
              <ng-select formControlName="IdExpedient" class="ng-select-sacpi" [items]="expedients" bindLabel="Alias"
                bindValue="IdExpediente" placeholder="Seleccione expediente"></ng-select>
              <sacpi-form-field-validation-messages [sacpiFormControl]="form.get('IdExpedient')">
              </sacpi-form-field-validation-messages>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" [sacpiFormFieldValidationState]="form.get('Description')">
              <label class="control-label" [sacpiFormRequiredLabel]="form.get('Description')">Descripción
                <i class="fa fa-question-circle text-muted" tooltip="Descripción del Requerimiento" placement="top"></i>
              </label>
              <input formControlName="Description" type="text" class="form-control">
              <sacpi-form-field-validation-messages [sacpiFormControl]="form.get('Description')">
              </sacpi-form-field-validation-messages>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
              <thead>
                <tr>
                  <td class="text-center">#</td>
                  <td class="text-left td-siacpi">Descripcion de Orden</td>
                  <td colspan="3" rowspan="1" class="text-center">Acciones</td>
                  <td class="text-left">Archivos</td>

                </tr>
              </thead>
              <tbody formArrayName="detalle">
                <ng-template ngFor let-item [ngForOf]="detalle.controls" let-i="index">
                  <tr [formGroupName]="i">
                    <td class="text-center">{{i+1}}</td>
                    <td [sacpiFormFieldValidationState]="item.get('ServiceDescription')" class="ng-product-filter"> 
                      <textarea name="ServiceDescription" formControlName="ServiceDescription" type="text" class="form-control"></textarea>                    
                      <sacpi-form-field-validation-messages [sacpiFormControl]="item.get('ServiceDescription')">
                      </sacpi-form-field-validation-messages>
                    </td>
                    <td class="table-view-pf-actions">
                      <div class="table-view-pf-btn">
                        <button class="btn btn-default" type="button" (click)="removeDetalleFormControl(item,i)"
                          *ngIf="item.get('Delete').value==0">
                          <span class="fa fa-trash" style="color:red;" tooltip="Eliminar requerimiento de Servicio"
                            placement="top"></span>
                        </button>
                        <button class="btn btn-default" type="button" *ngIf="item.get('Delete').value==1">
                          <span class="fa fa-spinner" tooltip="Eliminando requerimiento de Servicio" placement="top"></span>
                        </button>
                      </div>
                    </td>
                    <td class="table-view-pf-actions">
                      <div class="dropdown dropdown-kebab-pf">
                        <button class="btn btn-default" type="button" *ngIf="item.get('Status').value==1">
                          <span class="pficon pficon-ok" tooltip="requerimiento de Servicio agregado al requerimiento"
                            placement="top"></span>
                        </button>
                        <button class="btn btn-default" type="button" *ngIf="item.get('Status').value==2">
                          <span class="pficon pficon-warning-triangle-o" tooltip="requerimiento de Servicio por guardar y/o en temporal"
                            placement="top"></span>
                        </button>
                        <button class="btn btn-default" type="button" *ngIf="item.get('Status').value==0">
                          <span class="pficon pficon-error-circle-o" tooltip="requerimiento de Servicio eliminado"
                            placement="top"></span>
                        </button>
                      </div>
                    </td>
                    <td class="table-view-pf-actions">
                      <div class="dropdown dropdown-kebab-pf">
                        <button class="btn btn-default" type="button" *ngIf="item.get('Duplicate').value==1">
                          <span class="fa fa-bell" style="color:red;" tooltip="requerimiento de Servicio Duplicado"
                            placement="top"></span>
                        </button>
                      </div>
                    </td>
                    <td class="table-view-pf-actions">
                      <div class="refactor table-view-pf-btn">
                        <sacpi-read-file [showFileName]="false" [asText]="false" [asDataUrl]="true"
                          (complete)="onFileChange($event)" (click)="addFiles(item, i)" ></sacpi-read-file>

                        <div *ngIf="item.get('FileDetails').value?.length>0" (click)="ocultar(i)"
                          tooltip="Ver Archivos Adjuntos">
                          <span class="btn btn-default">
                            <span class=" "></span>{{item.get('FileDetails').value?.length}}
                          </span>
                        </div>
                      </div>
                     
                    </td>
                  </tr>
                  <tr>
                      <div class="table-view-pf-actions" *ngIf="i==valor">
  
                        <div *ngFor="let f of item.get('FileDetails').value, let in = index" style="width: 1000px">
                            <div class="col-md-1"></div>
                            <div class="col-md-1">{{in+1}}</div>
                            <!-- <div class="col-md-1">{{f.IdRequirementFileDetails}}</div> -->
                            <div class="col-md-5" (click)="download(f.IdRequirementFileDetails)"><span
                              >{{f.FileName}}</span>
                              <!-- tooltip="click Para descargar Archivo" style="cursor: pointer">{{f.FileName}}</span> -->
                            </div>
  
                            <div class=" btn-group" style="display: -webkit-inline-box;">
                              <button class="btn btn-default" type="button"
                                (click)="deleteFile(item, f, in, i)">
                                <span class="fa fa-trash" style="color:red;" tooltip="Eliminar Archivo"
                                  placement="top"></span>
                              </button>
                              <button class="btn btn-default" type="button" *ngIf="f.IdRequirementFileDetails!=undefined">
                                <span class="pficon pficon-ok"
                                  tooltip="requerimiento de Servicio agregado al requerimiento" placement="top"></span>
                              </button>
                              <button class="btn btn-default" type="button" *ngIf="f.IdRequirementFileDetails==undefined">
                                <span class="pficon pficon-warning-triangle-o"
                                  tooltip="requerimiento de Servicio por guardar y/o en temporal" placement="top"></span>
                              </button>
                            </div>
                       
                        </div>
                      </div>
                    </tr>
                </ng-template> 
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10" class="text-left">
                    <button (click)="addDetalleFormControl()" type="button" class="btn btn-default">
                      <span class="fa fa-plus"></span> Agregar Orden Servicio
                    </button>
                  </td>
                </tr>
              
              </tfoot>
            </table>
          </div>
        </div>
        <br>
        <sacpi-button-confirmar [sacpiForm]="form" [working]="working"></sacpi-button-confirmar>
        <sacpi-button-cancel (sacpiOnCancel)="cancel()"></sacpi-button-cancel>
      </form>
    </sacpi-loading>
    <br>
  </div>
</div>