<!-- <pfng-wizard #wizard [config]="wizardConfig" (onCancel)="closeModal($event)" (onNext)="nextClicked($event)" (onStepChange)="stepChanged($event)">
  <pfng-wizard-step [config]="step1Config">
    <pfng-wizard-substep [config]="step1aConfig" [reviewTemplate]="step1aReviewTemplate">
      <sacpi-loading [loading]="loading">
        <form [formGroup]="formOld" class="form-horizontal">
          <sacpi-form-fields-status [sacpiForm]="formOld"></sacpi-form-fields-status>
          <div class="form-group" [sacpiFormFieldValidationState]="formOld.get('UserName')">
            <label class="col-sm-2 col-md-2 control-label" [sacpiFormRequiredLabel]="formOld.get('UserName')">Usuario
              <i class="fa fa-question-circle text-muted" tooltip="Usuario del sistema" placement="top"></i>
            </label>
            <div class="col-sm-10 col-md-10">
              <input formControlName="UserName" type="text" class="form-control" autofocus />
              <sacpi-form-field-validation-messages [sacpiFormControl]="formOld.get('UserName')">
              </sacpi-form-field-validation-messages>
            </div>
          </div>
          <div class="form-group" [sacpiFormFieldValidationState]="formOld.get('Password')">
            <label class="col-sm-2 col-md-2 control-label" [sacpiFormRequiredLabel]="formOld.get('Password')">Constraseña
              <i class="fa fa-question-circle text-muted" tooltip="Contraseña del sistema" placement="top"></i>
            </label>
            <div class="col-sm-10 col-md-10">
              <input formControlName="Password" type="password" class="form-control" />
              <sacpi-form-field-validation-messages [sacpiFormControl]="formOld.get('Password')">
              </sacpi-form-field-validation-messages>
            </div>
          </div>
        </form>
      </sacpi-loading>
    </pfng-wizard-substep>
    <pfng-wizard-substep [config]="step1bConfig">
      <form [formGroup]="formNew" class="form-horizontal">
        <sacpi-form-fields-status [sacpiForm]="formNew"></sacpi-form-fields-status>
        <div class="form-group" [sacpiFormFieldValidationState]="formNew.get('Password')">
          <label class="col-sm-2 col-md-2 control-label" [sacpiFormRequiredLabel]="formNew.get('Password')">Nueva Constraseña
            <i class="fa fa-question-circle text-muted" tooltip="Contraseña del sistema" placement="top"></i>
          </label>
          <div class="col-sm-10 col-md-10">
            <input formControlName="Password" type="password" class="form-control" />
            <sacpi-form-field-validation-messages [sacpiFormControl]="formNew.get('Password')">
            </sacpi-form-field-validation-messages>
          </div>
        </div>
        <div class="form-group" [sacpiFormFieldValidationState]="formNew.get('ConfirmPassword')">
          <label class="col-sm-2 col-md-2 control-label" [sacpiFormRequiredLabel]="formNew.get('ConfirmPassword')">Repetir Contraseña
            <i class="fa fa-question-circle text-muted" tooltip="Usuario del sistema" placement="top"></i>
          </label>
          <div class="col-sm-10 col-md-10">
            <input formControlName="ConfirmPassword" type="text" class="form-control" autofocus />
            <sacpi-form-field-validation-messages [sacpiFormControl]="formNew.get('ConfirmPassword')">
            </sacpi-form-field-validation-messages>
          </div>
        </div>

      </form>
    </pfng-wizard-substep>
  </pfng-wizard-step>
  <pfng-wizard-step [config]="step2Config">
    <pfng-wizard-substep [config]="step2aConfig">
      <pfng-wizard-review></pfng-wizard-review>
    </pfng-wizard-substep>  
    <pfng-wizard-substep [config]="step2bConfig" (onShow)="startDeploy()">
      <div class="wizard-pf-contents">
        <div class="wizard-pf-process blank-slate-pf" *ngIf="!deployComplete">
          <div class="spinner spinner-lg blank-slate-pf-icon"></div>
          <h3 class="blank-slate-pf-main-action">Deployment in progress</h3>
          <p class="blank-slate-pf-secondary-action">Lorem ipsum dolor sit amet, porta at suspendisse ac, ut wisi vivamus, lorem sociosqu eget nunc amet. </p>
        </div>
        <div class="wizard-pf-complete blank-slate-pf" *ngIf="deployComplete">
          <div class="wizard-pf-success-icon">
            <span class="glyphicon glyphicon-ok-circle"></span>
          </div>
          <h3 class="blank-slate-pf-main-action">Deployment was successful</h3>
          <p class="blank-slate-pf-secondary-action">Lorem ipsum dolor sit amet, porta at suspendisse ac, ut wisi vivamus, lorem sociosqu eget nunc amet. </p>
          <button type="button" class="btn btn-lg btn-primary">View Deployment</button>
        </div>
      </div>
    </pfng-wizard-substep>
  </pfng-wizard-step>
</pfng-wizard>
<ng-template #step1aReviewTemplate>
  <form class="form">
    <div class="wizard-pf-review-item">
      <span class="wizard-pf-review-item-label">User:</span>
      <span class="wizard-pf-review-item-value">{{data.user}}</span>
    </div>
    <div class="wizard-pf-review-item">
      <span class="wizard-pf-review-item-label">Name:</span>
      <span class="wizard-pf-review-item-value">{{data.name}}</span>
    </div>
  </form>
</ng-template> -->