.btn-default.red {
    color: red;
}
.dropdown-kebab-pf.red .btn-link {
    color: red;
}

.list-pf-icon-bordered-confirm {
    border-radius: 50%;
    border: 2px solid red;
}
.list-temporal{
    color: red;
}