.sacpi-req{
    color: blue;
    font-size: xx-large;
    position: relative;
    font-weight:700;
}
.sacpi-status-confirmado{
    color: green;
    font-size: x-large;    
    font-weight:700;
}

.sacpi-status-no-confirmado{
    color: red;
    font-size: x-large;    
    font-weight:700;
}