<sacpi-loading [loading]="loading">
  <div class="login-pf">
    <span id="badge">
      <img src="/assets/img/logo.svg" alt="logo" />
    </span>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="brand">
            <img src="/assets/img/brand-alt.svg" alt="Sacpi Next">
          </div>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-5 login">
          <form [formGroup]="form" (ngSubmit)="login(form)" class="form-horizontal">
            <sacpi-form-fields-status [sacpiForm]="form"></sacpi-form-fields-status>

            <div class="form-group" [sacpiFormFieldValidationState]="form.get('UserName')">
              <label class="col-sm-3 col-md-3 control-label" [sacpiFormRequiredLabel]="form.get('UserName')">Usuario
                <i class="fa fa-question-circle text-muted" tooltip="Usuario del sistema" placement="top"></i>
              </label>
              <div class="col-sm-9 col-md-9">
                <input formControlName="UserName" type="text" class="form-control" autofocus/>
                <sacpi-form-field-validation-messages [sacpiFormControl]="form.get('UserName')">
                </sacpi-form-field-validation-messages>
              </div>
            </div>
            <div class="form-group" [sacpiFormFieldValidationState]="form.get('Password')">
              <label class="col-sm-3 col-md-3 control-label" [sacpiFormRequiredLabel]="form.get('Password')">Constraseña
                <i class="fa fa-question-circle text-muted" tooltip="Contraseña del sistema" placement="top"></i>
              </label>
              <div class="col-sm-9 col-md-9">
                <input formControlName="Password" type="password" class="form-control" />
                <sacpi-form-field-validation-messages [sacpiFormControl]="form.get('Password')">
                </sacpi-form-field-validation-messages>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-8 col-sm-offset-8 col-sm-6 col-md-offset-2 col-md-6">
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2"></div>
              <div class="col-xs-1 col-sm- col-md-1">
                <sacpi-button-login [sacpiForm]="form" [working]="working"></sacpi-button-login>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-5 col-md-6 col-lg-7 details">
          <p>
            <strong>Bienvenido a Sacpi-Next | open interface project!</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</sacpi-loading>